APP_NAME="SENA Guia Aprendizaje API"
APP_ENV="development"
APP_HOST="0.0.0.0"
APP_PORT=8000
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/sena_guias_db"
ALEMBIC_DATABASE_URL="postgresql+psycopg://postgres:postgres@localhost:5432/sena_guias_db"
CORS_ALLOW_ORIGINS="http://localhost:3000"
